@font-face {
    font-family: "FreckleFace-Regular";
    src: url(./Fonts/FreckleFace-Regular.ttf);
}

@font-face {
    font-family: "UnifrakturCook-Bold";
    src: url(./Fonts/UnifrakturCook-Bold.ttf)
}

.Bomi {
    font-family: "FreckleFace-Regular";
    font-size: 40px;
}

.Lori {
    font-family: "UnifrakturCook-Bold";
    font-size: 30px;
}